<div data-controller="transaction">
  <h1>Transactions</h1>

  <%= form_with model: Transaction.new, data: { action: "submit->transaction#add" } do |form| %>
  <div>
    <%= form.label "Name" %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label "Amount" %><br>
    <%= form.number_field :amount %>
  </div>

  <button>Add</button>
  <% end %>

  <div>
    <% @transactions.each do |tx| %>
    <%= render(TransactionCardComponent.new(transaction: tx)) %>
    <% end %>
  </div>
</div>