<div data-controller="transaction">
  <h1>Transactions</h1>

  <%= form_with model: Transaction.new, data: { action: "submit->transaction#add" } do |form| %>
  <div>
    <%= form.label "Name" %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label "Amount" %><br>
    <%= form.number_field :amount %>
  </div>

  <button>Add</button>
  <% end %>

  <ul>
    <% @transactions.each do |tx| %>
    <li><%= tx.name =%> - <%= tx.amount =%>Baht <a href="" data-action="click->transaction#remove" data-id="<%= tx.id =%>">[x]</a></li>
    <% end %>
  </ul>
</div>